* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-background: #1B1D1F;
  --title-color: #FFFFFF;
  --subtitle-color: #CECACADE;
}

body {
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  font-weight: 700;
  color: var(--title-color);
}

h3, h4, h5 {
  font-weight: 400;
  color: var(--subtitle-color);
}