@keyframes transition {
  from {
      opacity: 0;
      transform: translateX(250px);
  }

  to {
      opacity: 1;
  }
}

.container {
  animation-name: transition;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    padding: 20px 10px;

    .about {
      width: 50%;
      min-width: 350px;
      display: flex;
      flex-direction: column;

      h1 {
        margin: 10px 0 20px;
        font-size: 2rem;
        line-height: 46px;
      }

      h4 {
        font-size: 1rem;
        margin: 10px 0 20px;
        line-height: 28px;
      }
    }

    .imgProfile {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        max-width: 250px;
        border-radius: 15px;
      }
    }
  }

  section {
    padding: 10px 0;

    h4 {
      margin: 10px 0 20px;
    }

    .technology {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      margin: 20px 0 10px;
      padding: 10px 0;
  
      span {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border: 1px solid white;
        color: var(--subtitle-color);
        border-radius: 5px;
        cursor: pointer;
        transition: 500ms;

        &:hover {
          border-color: gray;
          transform: scale(0.9);
        }

        i {
          font-size: 3rem;
          margin-bottom: 10px;
        }
      }
    }
  }

  @media (max-width: 780px) {
    main {
      flex-direction: column;

      .about {
        width: 100%;
        align-items: center;

        h1 {
          text-align: center;
        }

        h4 {
          text-align: center;
        }
      }

      .imgProfile {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
      }
    }

    section {
      margin-top: 20px;

      h4 {
        text-align: center;
      }

      .technology {
        grid-template-columns: repeat(2, 1fr);
        
        span {
          margin: 10px 0;
        }
      }
    }
  }
}