@keyframes transition {
  from {
      opacity: 0;
      transform: translateX(250px);
  }

  to {
      opacity: 1;
  }
}

.container {
  animation-name: transition;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  h4 {
    margin: 20px 0 30px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  
    .card {
      width: 90%;
      border: 1px solid gray;
      padding: 20px 10px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: 500ms;
      cursor: pointer;
      border-radius: 5px;
  
      h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
  
      p {
        color: white;
        font-size: 0.9rem;
        text-align: center;
        margin-bottom: 10px;
        line-height: 26px;
      }
  
      footer {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;

        p {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            color: var(--subtitle-color);
            font-size: 0.9rem;
    
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &:hover {
        border-color: white;
        transform: scale(0.9);
      }
    }
  }

  @media (max-width: 780px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .projects {
      grid-template-columns: 1fr;
    }
  }
}