.header {
    background-color: var(--color-background);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    nav {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;

        .logo {
            width: 30%;
            display: flex;
            align-items: center;
    
            img {
                width: 30%;
                min-width: 80px;
            }
        }
        
        .menu {
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
    
            a {
                margin: 0 15px;
                font-size: 1rem;
                color: white;
                position: relative;
                padding: 2px 0;
        
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.1s ease-in-out 0s;
                }
        
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }
}