.aboutMe {
    width: 60%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.aboutMe h2 {
    font-size: 1.1rem;
    line-height: 40px;
    font-weight: normal;
}

.avatar {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.avatar h2 {
    line-height: 30px;
}

.avatarImg {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.avatarImg img {
    width: 15%;
    min-width: 120px;
    border-radius: 50%;
}

.technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding: 30px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards h4 {
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: normal;
}

.cards .cardsGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.cards .cardsGroup p {
    border: 1px solid gray;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 500ms;
    font-weight: bold;
}

.cards .cardsGroup p:hover {
    transform: scale(0.9);
}

.cards .cardsGroup p i {
    margin-right: 15px;
    font-size: 50px;
}

#html5 {
    color: orangered;
}

#css3 {
    color: blue;
}

#react {
    color: #48CEF7;
}

#js {
    color: #EFD81D;
}

#node {
    color: #6AA05C;
}

#git {
    color: black;
}

.sectionFormation {
    width: 60%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px;
}

.sectionFormation h3 {
    margin: 30px 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.trainingDescription {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.logo {
    width: 15%;
    display: flex;
    align-items: flex-start;
}

.logo img {
    width: 90%;
}

.formation {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.formation span {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.formation h4 {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;
}

.formation p {
    font-size: 0.8rem;
}

@media (max-width: 1000px) {
    .aboutMe {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .aboutMe {
        width: 90%;
    }

    .avatar {
        flex-direction: column;
    }

    .avatarImg {
        margin-bottom: 20px;
    }

    .technology {
        flex-direction: column;
    }

    .cards {
        width: 100%;
    }

    .cards .cardsGroup {
        flex-direction: column;
    }

    .sectionFormation {
        width: 90%;
    }
}