.footer {
    background-color: var(--color-background);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    .social {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;

        a i {
            font-size: 30px;
            color: white;
            margin: 0 10px;
            transition: 400ms;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    span {
        color: var(--subtitle-color);
        font-size: 1rem;
    }
}